/* 
* jQuery Flight Indicators plugin
* By Sébastien Matton (seb_matton@hotmail.com)
* Published under GPLv3 License.
* 
* https://github.com/sebmatton/jQuery-Flight-Indicators
*/

/* Global block of an indicator*/
div.instrument {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

/* The box containing any element of an indicator */
div.instrument .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.instrument .value {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 41%
}

div.instrument .value p {
  margin: 0;
}

div.instrument .altitude {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 42%;
}

div.instrument .altitude .thousand {
  font-size: 25px;
}

div.instrument .altitude .hundred {
  font-size: 16px;
}
