.altimeter {
  position: relative;
  overflow: hidden;
  height: 130px;
  width: 130px;
  margin: 5px;
}

.meter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.value {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  color: black;
}

.value .thousand {
  font-size: 150%;
}

.value .hundred {
  font-size: 100%;
}