
.compass_mask {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.compass {
    width: 180px;
    height: 40px;
    object-fit: cover;
    margin-top: 10px;
}

.compass_value_border {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
}

.compass_value {
    text-align: center;
    margin-top: 5px;
}