.pfd {
    display: flex;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    /* padding-left: 1.5em; 
    padding-right: 1.5em; */
    flex-direction: column;
    /* background-color: rgba(185, 184, 182, 0.8); */
    /* height: 100%; */
    pointer-events: all;
}
.mouseears {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mousehead {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}s

.side_values {
    display: flex;
    flex-direction: column;
}

.heading_attitude {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.small {
    /* background-color: rgba(185, 184, 182, 0.8); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}

.expanded {
    /* background-color: rgba(185, 184, 182, 0.8); */
    height: 100%;
    padding: 4em;
    padding-left: 7em;
    padding-right: 7em;
    /* justify-content:space-around; */
    display: flex;
    flex-direction: column;
    align-items: center;

}