.pfd {
    display: flex;
    flex-direction: column;
}
.mouseears {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mousehead {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.side_values {
    display: flex;
    flex-direction: column;
}

.heading_attitude {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}