.pfd {
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 182, 182, 0.8);
    height: 100%;
    pointer-events: all;
}
.mouseears {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mousehead {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}s

.side_values {
    display: flex;
    flex-direction: column;
}

.heading_attitude {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}