.pfd {
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 182, 182, 0.8);
}

.mouseears {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mousehead {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.heading-attitude {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.alpha {
    margin-top: 22%;
}

.alpha p {
    margin: 0 10px 0 0;
    font-size: 20px;
}