.wad_frame {
    height: 100vh;
    width: 100vw;
    background-color: rgb(69, 69, 69);
    box-shadow: rgb(23, 23, 23) 0px 0px 20px 10px inset;
}

.wad_content {
    margin-top: 5vh;
    margin-bottom: 7vh;
    margin-right: 3vw;
    margin-left: 3vw;
    
}

/* .map_item {
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-right: 2vw;
    margin-left: 2vw;
} */

/* .map_container {
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 2vw;
    padding-left: 2vw;
    background-color: rgb(255, 232, 174);
} */

.overlay_container {
    /* padding: 15px; */
    height: 88vh;
    max-width: 94vw;
    display: inline-block;
    position: absolute;
    /* background-color: red; */
    /* z-index: 1; */
    pointer-events: none;
}

.left_container{
    height: 100%;
    /* width: 100%; */
    /* background-color: pink; */
    justify-content: space-between;
    align-items:flex-start;
    /* align-content: flex-start; */
}

.right_container{
    height: 100%;
    width: 100%;
    /* background-color: green; */
    justify-content: space-between;
    align-items:flex-end;
}

.S {
    height: 20%;
    width: 100%;
}

.M {
    height: 50%;
    width: 100%
}

.L {
  width: 100%;
  height: 100%;
}

/* #wb_one {
 background-color: rgba(185, 184, 182, 0.8);
}

#wb_two {
  background-color: rgba(185, 184, 182, 0.8);
}

#wb_three {
  background-color: rgba(185, 184, 182, 0.8);
  /* height: 100%;
} */

/* #wb_four {
    background-color: rgb(156, 156, 156, 0.5);
} */

/* CSS */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #9b9b9b;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#7b7b7b 0 -3px 0 inset;
    box-sizing: border-box;
    color: #bbbbbb;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 25px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  /* .button-30:focus {
    box-shadow: #8d8d8d 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #656565 0 -3px 0 inset;
  } */
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #656565 0 -3px 0 inset;
    /* transform: translateY(-2px); */
  }
  
  .button-30:active {
    box-shadow: #656565 0 3px 7px inset;
    transform: translateY(2px);
  }

  /* CSS */
.button-40 {
    align-items: center;
    appearance: none;
    background-color: #9b9b9b;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(66, 50, 35, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#7b7b7b 0 -3px 0 inset;
    box-sizing: border-box;
    color: #bbbbbb;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 45px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }

  .active {
    background-color: #8bb08f;
  }

  .border {
    border: 6px solid rgb(92, 159, 213);
  }
  
  /* .button-40:focus {
    background-color: #8bb08f;
    box-shadow: #68796a 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3e4f40 0 -3px 0 inset;
  } */
  
  .button-40:hover {
    box-shadow: rgba(35, 66, 41, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #656565 0 -3px 0 inset;
    /* transform: translateY(-2px); */
  }
  
  .button-40:active {
    transform: translateY(2px);
    border: 3px solid rgb(92, 159, 213);
  }
  
  